.vb-shell.ant-layout {
  height: '100vh';

  .vb-stats-logo {
    position: absolute;
    top: 0rem;
    right: 0.25rem;
    width: 4rem;
    height: 4rem;
    opacity: 0.75;
  }

  .ant-layout-header {
    padding-left: 0rem;
    padding-right: 4rem;
    border-bottom: 1px solid rgba(253, 253, 253, 0.12);

    .ant-menu {
      background-color: transparent;
      border-bottom: unset;
      // line-height: 56px;
      user-select: none;
    }

    .ant-layout-content {
      color: white;
    }

    .ant-tabs > .ant-tabs-nav {
      min-width: 68rem;
    }

    .no-display {
      display: none;
    }
  }
}
