.vb-info-card {
  .vb-stats-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 3rem;
    height: 3rem;

    opacity: 0.75;
  }

  .vb-info-header {
    padding: 0.5rem;
    font-size: 0.8rem;

    h2 {
      margin-left: 2.5rem;
    }

    .vb-reference {
      margin-bottom: 0.25rem;
      font-size: 0.6875rem;
    }

    @media (width >= 992px) {
      .vb-info-scroll {
        overflow-y: scroll;
        height: 23.4rem;
      }

      .vb-info-unplayed {
        height: 20.15rem;
      }
    }
  }

  .vb-info-charts-panel {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;

    padding: 0.5rem;

    border-top: 1px solid #303030;

    .vb-info-chart {
      text-align: center;
    }
  }
}
