.headroom {
  position: sticky;
  z-index: 1;
  top: 0;

  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  transition-property: all;
}

.headroom.down {
  top: -100%;
}
