.vb-board {
  margin: 1rem 0;

  .ant-table {
    background-color: transparent;
  }

  .ant-table.ant-table-small {
    font-size: 12px;
  }

  .ant-table-body {
    height: calc(100vh - 9rem);
  }

  &.has-toolbar .ant-table-body {
    height: calc(100vh - 10.5rem);
  }

  &.has-toolbar .ant-table-footer {
    padding: 4px 8px;
  }

  .table-row-disabled {
    color: #444;
  }

  .ant-table-cell {
    background-color: #141414;
  }

  .ant-table-thead .ant-table-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .vb-trophies {
    .trophy {
      text-align: right;
    }
  }
}
