.vb-board {
  margin: 1rem 0;

  .ant-table {
    background-color: transparent;
  }

  .ant-table.ant-table-small {
    font-size: 12px;
  }

  .ant-table-body {
    height: calc(100vh - 9rem);
  }

  .table-row-disabled {
    color: #444444;
  }

  .ant-table-cell {
    background-color: #141414;
  }

  .trophies {
    display: flex;
    flex-direction: row;

    .trophy {
      width: 3rem;
      text-align: right;
    }
  }
}
